In [40]:
import pandas as pd
import numpy as np
df = pd.read_csv("Sexual-Harassment-Classification/labelled_tweets.csv")
df.head(10)

,Key Word,Username,User_ID,Datetime,Favorite_count,Geo,Coordinates,Label,Text
0,Aroused,dmaofkansascity,1.330000e+18,11-11-2020 06:44,0,NaN,NaN,0,@VitalVegas You said aroused... https://t.co/p...
1,Aroused,StewartEros,1.330000e+18,11-11-2020 06:40,0,NaN,NaN,0,"@BudgenAli If you mean to lean forward, sensua..."
2,Aroused,zzzaaammmora,1.330000e+18,11-11-2020 06:26,0,NaN,NaN,0,RT @obn_jay: Be wary of friends— they will bet...
3,Aroused,mockalattee,1.330000e+18,11-11-2020 06:23,0,NaN,NaN,0,No reason for some of y’all to be aroused twen...
4,Aroused,SickBamboo,1.330000e+18,11-11-2020 06:20,0,NaN,NaN,0,RT @nimish4fk: I'm at a point in my life where...
5,Aroused,BertieMemes,1.330000e+18,11-11-2020 06:15,11,NaN,NaN,0,"The art style makes it difficult to decipher, ..."
6,Aroused,KarinaAngelique,1.330000e+18,11-11-2020 05:59,0,NaN,NaN,0,trying to understand why white women are arous...
7,Aroused,kryotoman,1.330000e+18,11-11-2020 05:48,0,NaN,NaN,0,"I am aroused, and i havent even chosen my char..."
8,Aroused,jordansaweirdo,1.330000e+18,11-11-2020 05:38,0,NaN,NaN,0,RT @VitalVegas: This rumor has aroused our int...
9,Aroused,AxelGrave,1.330000e+18,11-11-2020 05:37,0,NaN,NaN,0,https://t.co/QPX4GO0lUB Another great collecti...

In [41]:
c= 0
for i in df.index:
    text = df.at[i,'Text']
    text = " ".join(filter(lambda x:x[0]!='@', text.split()))
    text = ' '.join(x for x in text.split() if not x.startswith('RT'))
    text = ' '.join(x for x in text.split() if not x.startswith('https'))
    
    df.at[i,'Text'] = text

In [42]:
df.head(10)

,Key Word,Username,User_ID,Datetime,Favorite_count,Geo,Coordinates,Label,Text
0,Aroused,dmaofkansascity,1.330000e+18,11-11-2020 06:44,0,NaN,NaN,0,You said aroused...
1,Aroused,StewartEros,1.330000e+18,11-11-2020 06:40,0,NaN,NaN,0,"If you mean to lean forward, sensually kiss yo..."
2,Aroused,zzzaaammmora,1.330000e+18,11-11-2020 06:26,0,NaN,NaN,0,Be wary of friends— they will betray you more ...
3,Aroused,mockalattee,1.330000e+18,11-11-2020 06:23,0,NaN,NaN,0,No reason for some of y’all to be aroused twen...
4,Aroused,SickBamboo,1.330000e+18,11-11-2020 06:20,0,NaN,NaN,0,I'm at a point in my life where I no longer ge...
5,Aroused,BertieMemes,1.330000e+18,11-11-2020 06:15,11,NaN,NaN,0,"The art style makes it difficult to decipher, ..."
6,Aroused,KarinaAngelique,1.330000e+18,11-11-2020 05:59,0,NaN,NaN,0,trying to understand why white women are arous...
7,Aroused,kryotoman,1.330000e+18,11-11-2020 05:48,0,NaN,NaN,0,"I am aroused, and i havent even chosen my char..."
8,Aroused,jordansaweirdo,1.330000e+18,11-11-2020 05:38,0,NaN,NaN,0,This rumor has aroused our interest.
9,Aroused,AxelGrave,1.330000e+18,11-11-2020 05:37,0,NaN,NaN,0,"Another great collection of Hilarious shorts, ..."

In [43]:
df = df.iloc[np.random.permutation(len(df))]
df.head()

,Key Word,Username,User_ID,Datetime,Favorite_count,Geo,Coordinates,Label,Text
1515,ass,gametheoryosmer,1.330000e+18,11-11-2020 06:55,0,NaN,NaN,1,"my lieutenant called me a ""Pussy"" for not wipi..."
1167,bastard,oyibutter,1.330000e+18,11-11-2020 07:25,0,NaN,NaN,0,My fwb showed me pepper. I caught bastard feel...
115,Bad Fuck,Bigafterglow,1.330000e+18,11-11-2020 07:09,0,NaN,NaN,0,Oh fuck! What a bad tweet.
1740,bitch,ItsBillcosby,1.330000e+18,11-11-2020 07:27,0,NaN,NaN,1,If the dick fit suck it bitch 〽️™️
983,ass,SlayerOfWaifu,1.330000e+18,11-11-2020 06:55,1,NaN,NaN,0,If you think Fairy Tail is ass you do you 🤷🏽‍♂...

In [44]:
df.to_csv("Cleaned_tweets.csv")